# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual envs
.venv/
venv/
env/

# Django
media/
staticfiles/

# Environment
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/